* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

.header {
  background-image: url('/assets/background.jpg');
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  height: 60vh;
}

.header__container h1,
h3 {
  color: #fff;
}

.header__sub {
  width: 70%;
  line-height: 1.5rem;
  position: relative;
}

.header__sub::before {
  content: '';
  display: block;
  width: 2.1rem;
  height: 3px;
  background: #fff;
  position: absolute;
  top: -1rem;
}

.main {
  margin: 1rem 2rem;
}

.main h3 {
  color: black;
  margin: 1.5rem 0;
  font-size: 1.5em;
}

.accordion__el {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 1.5rem 0;
}

.accordion__header {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem;
}

.accordion__answer {
  max-height: 0;
  overflow: hidden;
  transition: 500ms ease max-height;
}

.arrow__up {
  height: 0.5rem;
  margin-left: auto;
}

.arrow__down {
  height: 0.5rem;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
  }
  .header {
    width: 50%;
    height: 100vh;
  }

  .header__container {
    height: 100vh;
  }

  .main {
    width: 50%;
    height: 100vh;
  }
}
