* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

.container {
  height: 100vh;
}

.header {
  background-image: url('/assets/background-min.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 60vh;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  height: 60vh;
}

.header__container h1,
h3 {
  color: #fff;
}

.header__sub {
  width: 70%;
  line-height: 1.5rem;
  position: relative;
}

.header__sub::before {
  content: '';
  display: block;
  width: 3rem;
  height: 3px;
  background: #fff;
  position: absolute;
  top: -2rem;
}

.main {
  padding: 1rem 2rem;
}

.main h3 {
  color: black;
  margin: 1.5rem 0;
}

.accordion__el {
  border-top: 1px solid #cccccc;
  padding: 1.5rem 0;
}

.accordion__container:last-of-type {
  border-bottom: 1px solid #cccccc;
}

.accordion__header {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem;
}

.accordion__answer {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease max-height;
  color: #555555;
  line-height: 1.6rem;
}

.arrow__down {
  height: 0.5rem;
  width: 0.5rem;
  margin-left: auto;
  transition-property: transform;
  transition-duration: 0.5s;
}
.active .arrow__down {
  transform: rotate(180deg);
}

@media screen and (min-width: 380px) {
  .header__primary {
    max-width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
  }

  .header {
    width: 50%;
    height: 100vh;
  }

  .header__container {
    height: 100vh;
  }

  .logo,
  .questions,
  .header__sub {
    font-size: 25px;
  }

  .header__primary {
    max-width: 70%;
  }

  .header__primary h1 {
    font-size: 60px;
  }

  .main {
    width: 50%;
    height: 100vh;
  }

  .accordion__header {
    font-size: 20px;
  }

  .accordion__answer {
    line-height: 2rem;
    font-size: 13px;
  }
}

@media screen and (min-width: 1400px) {
  .heading__primary {
    max-width: 70%;
  }
  .heading__primary h1 {
    font-size: 52px;
  }
}
